@charset "UTF-8";

/* CSSプロパティの記載順
1.視覚整形モデル
2.ボックスモデル
3.背景
4.色
5.フォント
6.表
7.UI
8.アニメーション
9.その他 */

/*-------------------------------------------
Common
-------------------------------------------*/
html {
  font-size: 100%;
}

body {
  color: #fff;
  background: #141414;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* 
ボタンの共通クラス 
*/
.btn {
  border-radius: 50px;
  border-bottom: 10px solid #DD118E;
  background: linear-gradient(to bottom right,#c41a7f, #664bbf);
}

/* 
ボタン内テキストの共通クラス 
*/
.btn_text{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* 
セクションタイトルの共通クラス 
*/
.section_title {
  color: #D136D1;
  font-family: 'Montserrat';
  font-size: 3.75rem;
  text-align: center;
  margin-bottom: 57px;
}

/* 
セクションタイトルの日本語ルビ共通クラス 
*/
.section_title .ja {
  display: block;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.375rem;
}

/* 
コンテンツ幅設定の共通クラス 
*/
.wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 110px 128px;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 35px 30px;
  z-index: 10;
}

#header .site_title {
  width: 79px;
  line-height: 0;
}

#header .site_title a {
  display: block;
}

#header .nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .nav_menu li {
  margin-left: 30px;
}

#header .nav_menu li a {
  display: block;
  font-family: 'Montserrat';
  transition: all .3s;
}

/* 
ナビメニューのホバーアニメーション 
*/
#header .nav_menu li a:hover {
  opacity: .7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background: linear-gradient(to bottom right,#0e002e 0%, #1e092b 23.1%, #320c65 49.12%, #a01b7c 79.8%, #c21780 100%);
  background-size: 300% 300%;
  animation: gradation 10s ease-in-out infinite;
}

@keyframes gradation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#mainvisual .shawn_img {
  position: absolute;
  top: -36px;
  right: 5%;
  width: 560px;
  height: 736px;
}

#mainvisual .shawn_img img{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

#mainvisual .sign {
  position: absolute;
  top: 410px;
  right: 43%;
  width: 326px;
  transform: rotate(-13deg);
}

#mainvisual .text {
  position: absolute;
  top: 145px;
  left: 130px;
  font-family: 'Montserrat'; 
  word-break: break-all;
}

#mainvisual .text .project {
  margin-bottom: 10px;
  color: #D136D1;
  font-size: 1.5rem;
}

#mainvisual .text .title {
  margin-bottom: 10px;
  font-size: 6.25rem;
  color: #fff;
  line-height: 1.06;
  letter-spacing: 0.02em;
}

#mainvisual .text .date {
  font-size: 2.25rem;
  color: #fff;
  letter-spacing: 0.07em;
}

#mainvisual .btn {
  position: absolute;
  top: 495px;
  left: 130px;
  width: 300px;
  height: 75px;
  transition: all .3s;
}

#mainvisual .btn:hover {
  opacity: .7;
  transform: scale(1.1);
}

#mainvisual .btn .btn_text{
  font-size: 1.125rem;
  /* ボタンが浮き出てる
  高さ分、ボックスの高さから引く。 */
  line-height: 65px;
}

#mainvisual .about_him {
  position: absolute;
  right: 6%;
  bottom: 20px;
}

#mainvisual .about_him .his_name {
  font-size: 1.3125rem;
}

#mainvisual .about_him .his_job {
  display: block;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  font-weight: bold;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .inner{
  display: flex;
  justify-content: space-between;
}

#about .inner .left .image  {
  width: 445px;
  height: 650px;
}

#about .inner .left .image img {
  vertical-align: bottom;
  object-fit: cover;
}

#about .inner .right {
  margin-left: 70px;
  padding: 80px 0;
  display: flex;
  align-items: center;
}

#about .inner .right .thema {
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

#about .inner .right .topic {
  margin-bottom: 40px;
  color: #d136d1;
  font-size: 3rem;
  letter-spacing: 0.1em;
}

#about .inner .right .description {
  margin-bottom: 20px;
  font-size: 1.125rem;
}

#about .inner .right .info {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

#about .inner .right .info dt {
  width: 20%;
}

#about .inner .right .info dd {
  width: 80%;
}

#about .inner .right .btn {
  width: 230px;
  height: 63px;
  transition: all .3s;
}

#about .inner .right .btn:hover {
  opacity: .7;
  transform: scale(1.1);
}

#about .inner .right .btn .btn_text {
  font-size: 1.125rem;
  line-height: 54px;
}

/*-------------------------------------------
Speaker
-------------------------------------------*/
#speaker {
  background: linear-gradient(to bottom right, #0e002e 0%, #0f002e 0%, #1e092b 23.1%, #320c65 49.12%, #a01b7c 79.8%, #c21780 100%);
}

#speaker .inner .item {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#speaker .inner .item:last-child {
  margin-bottom: 0;
}

#speaker .inner .item .image {
  width: 40%;
}

#speaker .inner .item .image img {
  width: 100%; 
  border-radius: 50%;
  vertical-align: bottom;
}

#speaker .inner .item .text {
  width: 60%
}

#speaker .inner .text .name {
  margin-bottom: 40px; 
  color: #d136d1;
  font-family: 'Montserrat';
  font-size: 2.625rem;
}

#speaker .inner .text .name .ja {
  display: block;
  color: #fff;
  font-size: 1.125rem;
}

#speaker .inner .right_image {
  flex-direction: row-reverse;
}

#speaker .inner .right_image .text {
  margin-right: 60px;
}

#speaker .inner .left_image .text {
  margin-left: 60px;
}

/*-------------------------------------------
Session
-------------------------------------------*/
#session .time_schedule {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#session .time_schedule .time,
#session .time_schedule .overview {
  padding: 40px 0 40px 30px;
  border-bottom: 1px solid #d136d1;
}

#session .time_schedule .time {
  width: 25%;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.375rem;
}

#session .time_schedule .overview {
  padding-bottom: 40px;
  width: 75%;
}

#session .time_schedule .overview .title {
  margin-bottom: 16px;
  color: #d136d1;
  font-size: 1.375rem;
}

/*-------------------------------------------
Registor
-------------------------------------------*/
#registor {
  padding: 90px 198px 110px;
  background-image: url(../image/registor_bg.png);
  background-size: 400px auto;
  background-repeat: repeat;
}

#registor .inner {
  max-width: 970px;
  margin: 0 auto;
  padding: 90px;
  border: 5px solid #d136d1;
  border-radius: 20px;
  background: #1a1a1a;
}

/* 
フォーム内の各項目の共通設定 
*/
#registor .inner .form_item {
  margin-bottom: 30px;
  user-select: none;
}

#registor .inner .form_item .title {
  margin-bottom: 10px;
}

/* 
「*必須」の共通設定 
*/
#registor .inner .form_item .title .required {
  margin-left: 10px;
  color: #d136d1;
  font-size: 0.75rem;
  vertical-align: text-top;
}

/* 
「お名前」、「メールアドレス」の入力ボックスの共通設定 
*/
#registor .inner .form_item .input_short {
  width: 50%;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
  font-weight: normal;
}

/* 
「ご職業」のセレクタを横並びにする 
*/
#registor .inner .job .select .item {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

/*
「ご職業」のラジオボタンとテキストの縦位置ズレを微調整
*/
#registor .inner .job .select .radio_btn {
  position: relative;
  top: 1px;
  cursor: pointer;
}

/*
「電話番号」の（半角数字ハイフンなし）の設定 
*/
#registor .inner .number .attention {
  margin-left: 10px;
  font-size: 0.75rem;
  vertical-align: text-top;
}

/* 
「スピーカーに質問したいこと」の入力ボックスの設定 */
#registor .inner .comment .input_long {
  resize: none;
  width: 60%;
  height: 255px;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
  font-weight: normal;
}

/* 
「WDCをどちらでお知りになりましたか？」のセレクトボックスの設定
line-heightで上下位置を微調整
 */
#registor .inner .sauce .select_box {
  width: 30%;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
  font-weight: normal;
  line-height: 15px;
  cursor: pointer;
}

/*
送信ボタンの設定
*/
#registor .inner .btn {
  width: 300px;
  height: 73px;
  margin: 0 auto;
  transition: all .3s;
}

#registor .inner .btn:hover {
  opacity: .7;
  transform: scale(1.1);
}

#registor .inner .btn .btn_text {
  color: #fff;
  font-size: 1.25rem;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  padding: 70px;
}

#footer .text {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  letter-spacing: 0.08em;
  text-align: center;
}

/*-------------------------------------------
ページトップに戻るボタン
-------------------------------------------*/
/* 
ボタンを左下に固定表示
初期状態は非表示、200px下に配置。
 */
#page_top {
  opacity: 0;
  position: fixed;
  right: 40px;
  bottom: 45px;
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #c41a7f 0%, #c31b80 0%, #664bbf 100%);
  transition: all .3s;
  transform: translateY(200px);
}

/*
ボタンが下から現れるアニメーション 
*/
#page_top.appear {
  animation: appear 0.5s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
ボタンが下へ消えるアニメーション 
*/
#page_top.hide {
  animation: hide 0.5s ease forwards;
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

#page_top .page_top_arrow {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* 矢印左側の長方形 */
#page_top .page_top_arrow::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 33px;
  width: 4px;
  height: 18px;
  border-radius: 5px;
  background: #fff;
  transform: rotate(45deg);
  z-index: 3;
}

/* 矢印右側の長方形 */
#page_top .page_top_arrow::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 33px;
  width: 4px;
  height: 18px;
  border-radius: 5px;
  background-color: #fff;
  transform: rotate(-45deg);
  z-index: 3;
}

    /*-------------------------------------------
    PC
    -------------------------------------------*/
    @media (max-width:1280px) {

      /*-------------------------------------------
      Common
      -------------------------------------------*/
      html {
        font-size: 80%;
      }

      body {
        font-size: 1.28em;
      }

      .wrapper {
        padding: 110px 90px;
      }
      /*-------------------------------------------
      Mainvisual
      -------------------------------------------*/
      #mainvisual .shawn_img {
        top: auto;
        right: -5%;
        bottom: 0;
        width: 510px;
        height: auto;
      }

      #mainvisual .sign {
        top: 500px;
        right: 35%;
        width: 286px;
      }

      #mainvisual .text {
        left: 10%;
      }

      #mainvisual .btn {
        top: 445px;
        left: 10%;
      }

      /*-------------------------------------------
      About
      -------------------------------------------*/
      #about .inner .left {
        width: 50%;
      }

      #about .inner .left .image  {
        width: 100%;
        height: 100%;
      }

      #about .inner .right {
        width: 50%;
        padding: 0;
      }


      /*-------------------------------------------
      Speaker
      -------------------------------------------*/
      #speaker .inner .item {
        align-items: center;
      }

      #speaker .inner .item .text {
        width: 60%;
        font-size: 85%;
      }

      /*-------------------------------------------
      Registor
      -------------------------------------------*/
      #registor {
        padding: 110px 90px;
        overflow: hidden;
      }

      #registor .inner .form_item .input_short {
        width: 80%;
      }

      #registor .inner .comment .input_long {
        width: 80%;
      }
      
      #registor .inner .sauce {
        margin-bottom: 54px;
      }

      #registor .inner .sauce .select_box {
        width: 50%;
      }
    }
  
      /*-------------------------------------------
      Tablet
      -------------------------------------------*/
      @media (max-width: 920px) {

        /*-------------------------------------------
        Common
        -------------------------------------------*/
        html {
          font-size: 100%;
        }

        body {
          font-size: 1rem
        }
        
        .wrapper {
          padding: 90px 50px 70px;
        }

        /*-------------------------------------------
        Header
        -------------------------------------------*/
        #header {
          align-items: flex-start;
          padding: 4.2% 2.1% 0 4.2%;
        }

        #header .nav_menu {
          flex-direction: column;
          align-items:  flex-start ;
        }

        #header .nav_menu li {
          margin-left: 0;
          margin-bottom: 1.8vh;
        }

        /* 
        speaker , about , sessionの順番に入れ替え 
        */
        #header .nav_menu li:nth-of-type(1) {
          order: 1;
        }

        #header .nav_menu li:nth-of-type(3) {
          order: 2;
        }

        #header .nav_menu li:last-child {
          margin-bottom: 0;
        }

        /*-------------------------------------------
        Mainvisual
        -------------------------------------------*/
        #mainvisual {
          height: 100vh;
        }

        #mainvisual .shawn_img {
          right: -5%;
          bottom: 0;
          width: 60.5%;
          height: auto;
        }

        #mainvisual .sign {
          top: 80%;
          right: 45%;
        }

        #mainvisual .text {
          top: 18.7%;
          left: 10%;
        }

        #mainvisual .text .project {
          margin-bottom: 0;
          line-height: 1.6;
          font-size: 1.35rem
        }

        #mainvisual .text .title {
          margin-bottom: 8px;
          font-size: 5.5rem;
        }

        #mainvisual .text .date {
          font-size: 2rem;
        }

        #mainvisual .btn {
          top: 60%;
          left: 10%;
        }
      }

          /*-------------------------------------------
          SP
          -------------------------------------------*/
          @media (max-width: 376px) {

          /*-------------------------------------------
          Common
          -------------------------------------------*/
          html {
            font-size: 100%;
          }

          body {
            font-size: 1rem;
          }

          .btn {
            border-bottom: 6px solid #DD118E;
          }

          .btn_text {
            font-family: 'Noto Sans JP';
          }
          
          .section_title {
            font-size: 2rem;
            margin-bottom: 8.7%;
          }

          .section_title .ja {
            font-size: 0.875rem;
          }

          .wrapper {
            width: 100%;
            margin: 0 auto;
            padding: 0 4.2%;
          }

          /*-------------------------------------------
          Header
          -------------------------------------------*/
          #header {
            align-items: flex-start;
            padding: 4.2% 2.1% 0 4.2%;
          }

          #header .site_title {
            width: 21vw;
          }

          #header .nav_menu {
            flex-direction: column;
            align-items:  flex-start ;
          }

          #header .nav_menu li {
            margin-left: 0;
            margin-bottom: 1.8vh;
          }

          #header .nav_menu li a {
            font-size: 0.875rem;
          }

          /* 
          speaker , about , sessionの順番に入れ替え 
          */
          #header .nav_menu li:nth-of-type(1) {
            order: 1;
          }

          #header .nav_menu li:nth-of-type(3) {
            order: 2;
          }

          #header .nav_menu li:last-child {
            margin-bottom: 0;
          }
          
          /*-------------------------------------------
          Mainvisual
          -------------------------------------------*/
          #mainvisual .shawn_img {
            top: auto;
            right: -19.2%;
            bottom: 0;
            width: 84.5%;
            height: auto;
          }

          #mainvisual .sign {
            top: 40%;
            right: 7.9%;
            width: 45.3%;
          }

          #mainvisual .text {
            top: 18.7%;
            left: 50%;
            transform: translateX(-50%);
          }

          #mainvisual .text .project {
            margin-bottom: 0;
            font-size: 1.125rem;
            line-height: 1.6;
          }

          #mainvisual .text .title {
            margin-bottom: 8px;
            font-size: 2.5rem;
          }

          #mainvisual .text .date {
            font-size: 1.25rem;
          }

          #mainvisual .btn {
            top: 52%;
            width: 51%;
            height: 5.7%;
          }

          #mainvisual .btn .btn_text{
            font-size: 0.75rem;
            /* ボタンが浮き出てる
            高さ分、ボックスの高さから引く。 */
            line-height: 4.93vh;
          }

          #mainvisual .about_him {
            right: 6.4%;
            bottom: 1.2%;
          }

          #mainvisual .about_him .his_name {
            font-size: 0.875rem;
            letter-spacing: -0.06em;
          }

          #mainvisual .about_him .his_name .small {
            font-size: 0.75rem;
          }

          #mainvisual .about_him .his_job {
            font-size: 0.75rem;
            letter-spacing: 0.05em;
          }

          /*-------------------------------------------
          About
          -------------------------------------------*/
          #about {
            padding: 90px 0 70px;
            overflow: hidden;
          }

          #about .inner{
            flex-direction: column;
          }

          #about .inner .left {
            width: 100%;
          }

          /* width:100vw , margin: 0 calc(50% - 50vw)でwrapperのpaddingを無視して画面幅いっぱいに広げる */
          #about .inner .left .image  {
            width: 100vw;
            margin: 0 calc(50% - 50vw);
            height: 28.3vh;    
          }
          
          #about .inner .left .image img {
            width: 100%;
            height: 100%;
          }
          
          #about .inner .right {
            width: 100%;
            margin-left: 0;
            padding: 0;
            padding-top: 30px;
          }
          
          #about .inner .right .thema {
            margin-bottom: 6px;
            font-size: 1rem;
          }
          
          #about .inner .right .topic {
            margin-bottom: 18px;
            font-size: 1.75rem;
          }
          
          #about .inner .right .description {
            margin-bottom: 24px;
            font-size: 0.875rem;
            line-height: 2.4;
          }
          
          /*
          文章中の改行を無効化 
          */
          #about .inner .right .description br {
            display: none;
          }

          #about .inner .right .info {
            margin-bottom: 30px;
            font-size: 0.75rem;
          }
          
          #about .inner .right .info dt,
          #about .inner .right .info dd {
            margin-bottom: 12px;
          }

          #about .inner .right .info dt {
            width: 15%;
          }
          
          #about .inner .right .info dd {
            width: 85%;
          }
          
          #about .inner .right .btn {
            width: 51%;
            height: 6.5%;
            margin: 0 auto;
          }
          
          #about .inner .right .btn .btn_text {
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 6.5vh;
          }

          /*-------------------------------------------
          Speaker
          -------------------------------------------*/
          #speaker {
            padding: 70px 0 70px;
            background: linear-gradient(145deg, #0e002e 0%, #0f002e 0%, #1e092b 23.1%, #320c65 49.12%, #a01b7c 79.8%, #c21780 100%);
          }

          #speaker .inner .item {
            flex-direction: column;
            margin-bottom: 54px;
          }

          #speaker .inner .item:last-child {
            margin-bottom: 0;
          }

          #speaker .inner .item .image {
            width: 100%;
            margin-bottom: 16px;
          }

          #speaker .inner .item .text {
            width: 100%
          }

          #speaker .inner .item .text .detail {
            font-size: 0.875rem;
            line-height: 2;
          }

          #speaker .inner .text .name {
            margin-bottom: 24px; 
            font-size: 1.85rem;
          }

          #speaker .inner .text .name .ja {
            font-size: 0.875rem;
          }

          #speaker .inner .right_image {
            flex-direction: column;
          }

          #speaker .inner .right_image .text {
            margin-right: 0;
          }

          #speaker .inner .left_image .text {
            margin-left: 0;
          }

          /*-------------------------------------------
          Session
          -------------------------------------------*/
          #session {
            padding: 90px 0 30px;
          }

          #session .time_schedule {
            flex-direction: column;
          }

          #session .time_schedule .time {
            width: 100%;
            margin-bottom: 8px;
            padding: 0;
            border-bottom: none;
            font-size: 0.75rem;
          }

          #session .time_schedule .overview {
            width: 100%;
            margin-bottom: 40px;
            padding: 0;
            padding-bottom: 16px;
          }

          #session .time_schedule .overview:last-child {
            margin-bottom: 0;
          }

          #session .time_schedule .overview .title {
            margin-bottom: 12px;
            font-size: 1rem;
          }

          #session .time_schedule .overview .name,
          #session .time_schedule .overview .catchphrase {
            font-size: 0.75rem;
            line-height: 2;
          }

          /*-------------------------------------------
          Registor
          -------------------------------------------*/
          #registor {
            padding: 60px 16px;
            overflow: hidden;
            font-size: 80%;
          }

          #registor .inner {
            padding: 52px 30px;
          }

          #registor .inner .form_item .input_short {
            width: 100%;
          }

          #registor .inner .form_item .title .required {
            vertical-align: baseline;
          }

          #registor .inner .job .select .item {
            display: block;
            margin-right: 0;
            margin-bottom: 8px;
          }

          #registor .inner .comment .input_long {
            width: 100%;
            height: 150px;
          }
          
          #registor .inner .sauce {
            margin-bottom: 54px;
          }

          /* 
          「WDCをどちらでお知りになりましたか？」のタイトルと*必須を横並びにする
          */
          #registor .inner .sauce .title {
            display: flex;
          }
          /* タイトルに幅設定 */
          #registor .inner .sauce .title .sp {
            width: 80%;
          }
          /* *必須に幅設定 */
          #registor .inner .sauce .title .required {
            width: 20%;
          }

          #registor .inner .sauce .select_box {
            width: 100%;
          }

          #registor .inner .btn {
            width: 51vw;
            height: 5.7vh;
            margin: 0 auto;
          }

          #registor .inner .btn .btn_text {
            font-size: 0.75rem;
          }

          /*-------------------------------------------
          Footer
          -------------------------------------------*/ 
          #footer {
            padding: 50px 0;
          }

          #footer .text {
            font-size: 0.75rem;
          }

          /*-------------------------------------------
          ページトップに戻るボタン
          -------------------------------------------*/
          #page_top {
            right: 5px;
            bottom: 32px;
            width: 52px;
            height: 52px;
          }
          
          /* 矢印左側の長方形 */
          #page_top .page_top_arrow::before {
            top: 38.4%;
            left: 40.4%;
            width: 3px;
            height: 12px;
          }
          
          /* 矢印右側の長方形 */
          #page_top .page_top_arrow::after {
            top: 38.4%;
            right: 40.4%;
            width: 3px;
            height: 12px;
          }
      }

/*-------------------------------------------
hover指定が可能なデバイスに対してのCSS
-------------------------------------------*/
@media (hover: hover) {
  #header .nav_menu li a:hover {
    opacity: .7;
  }

  #mainvisual .btn:hover {
    opacity: .7;
    transform: scale(1.1);
  }
  
  #about .inner .right .btn:hover {
    opacity: .7;
    transform: scale(1.1);
  }

  #registor .inner .btn:hover {
    opacity: .7;
    transform: scale(1.1);
  }
}

/*-------------------------------------------
hoverが使えないデバイスに対してのCSS
-------------------------------------------*/
@media (hover: none) {
  #header .nav_menu li a:active {
    opacity: .7;
  }

  #mainvisual .btn:active {
    opacity: .7;
    transform: scale(1.1);
  }
  
  #about .inner .right .btn:active {
    opacity: .7;
    transform: scale(1.1);
  }

  #registor .inner .btn:active {
    opacity: .7;
    transform: scale(1.1);
  }
}
